<!doctype html>
{% load ajax_helpers %}

<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">

    {% lib_include 'ajax_helpers' 'Bootstrap' 'FontAwesome' module='ajax_helpers.includes' %}
    {% lib_include 'Modals' 'Toggle' 'select2' 'JQueryUI' 'TinyMce' 'ColourPicker' module='django_modals.includes' %}
    {% lib_include module='django_menus.includes' %}
    {% lib_include module='show_src_code.includes' %}
    {% lib_include 'datatable' module='django_datatables.includes' %}

{% comment %}
    <script src="https://cdn.tiny.cloud/1/9vnypfxb1qrjsjef93nn1460v0h2uez5qu0g8tup9e6n3brf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endcomment %}

</head>
<body>


{% block body %}
    {% block table %}
    {% endblock %}

{% endblock %}

</body>
</html>