<div id="{{ widget.name }}-container" class="input-group-sm">
<input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
</div>
    <script>
     $(function () {
         $('#id_{{ widget.name }}').datepicker({
             dateFormat: "dd/mm/yy",
             container: '#{{ widget.name }}-container',
         {% if 'min_date' in widget.attrs %}minDate:{{ widget.attrs.min_date}},{% endif %}
         });
     })
</script>