{% load modal_tags %}

<input id="id_{{ widget.attrs.id }}" autocomplete="off" type="text" {% if widget.value != None %}
       value="{{ widget.value|stringformat:'s' }}"{% endif %}onkeydown="return false" name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}>

<script>
    var pickr_{{ widget.attrs.id|function_friendly }} = null;
    function setup_{{ widget.attrs.id|function_friendly }}() {
        var defaultHexColour = '{{ widget.value }}';
        if(defaultHexColour === 'None' || defaultHexColour === '') {
            defaultHexColour = '000000'
        }
        $('#{{ widget.attrs.id|function_friendly }}_picker .fas.fa-square').css('color','#' + defaultHexColour);

        pickr_{{ widget.attrs.id|function_friendly }} = Pickr.create({
            el: '#{{ widget.attrs.id|function_friendly }}_picker',
            theme: 'classic', // or 'monolith', or 'nano'
            container: $('#id_{{ widget.attrs.id }}').closest('.modal-content')[0],
            default: '#' + defaultHexColour,
            useAsButton: true,
        {% if swatches %}
            swatches: [{% for swatch in swatches %}'{{ swatch }}'{% if not forloop.last %},{% endif %}{% endfor %}],
        {% endif %}
            components: {
                // Main components
                preview: true,
                opacity: {{ opacity|yesno:"true,false" }},
                hue: true,
                // Input / output Options
                interaction: {
                    hex: false,
                    rgba: false,
                    hsla: false,
                    hsva: false,
                    cmyk: false,
                    input: true,
                    clear: false,
                    save: true
                }
            }
        });

        pickr_{{ widget.attrs.id|function_friendly }}.on('save', (color, instance) => {
            var hexColour = color.toHEXA().toString();
            $('#{{ widget.attrs.id|function_friendly }}_picker .fas.fa-square').css('color', hexColour);
            $('#id_{{ widget.attrs.id }}').val(hexColour.substring(1));
            pickr_{{ widget.attrs.id|function_friendly }}.hide();
        })

        $('#{{ widget.attrs.id }}_random').click(function() {
            let letters = '0123456789ABCDEF';
            let color = '';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            pickr_{{ widget.attrs.id|function_friendly }}.setColor('#' + color);
            $('#{{ widget.attrs.id|function_friendly }}_picker .fas.fa-square').css('color', '#' + color);
            return false;
        });

    }

    $(document).ready(function () {
        setup_{{ widget.attrs.id|function_friendly }}();

    });

</script>
