
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.input-group-sm .select2-selection__rendered {
    font-size: .875rem;
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

.select2-results .btn {
    display: none;
}

.select2-selection__rendered .btn {
    margin: 1px 5px;
    z-index: 999999;
    float: right !important;
    padding-top: 0;
    padding-bottom: 0;
}

.modal-xl {
    max-width: 1500px !important;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}

.asteriskField {
    display: none;
}

.modal-header {
    background-color: #eeeeeef5;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.form-buttons {
    text-align: right;
    margin-top: 1.5rem;
}

.form-buttons .modal-edit::before {
    content: "\f304";
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
    margin-right: 4px;
    font-style: normal;
    font-weight: 800;
    text-decoration: inherit;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.form-buttons .modal-submit::before {
    content: "\f0c7";
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
    margin-right: 4px;
    font-style: normal;
    font-weight: 800;
    text-decoration: inherit;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.form-buttons .modal-cancel::before {
    content: "\f05e";
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
    margin-right: 4px;
    font-style: normal;
    font-weight: 800;
    text-decoration: inherit;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.form-buttons .modal-delete::before {
    content: "\f1f8";
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
    margin-right: 4px;
    font-style: normal;
    font-weight: 800;
    text-decoration: inherit;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ui-datepicker {
    z-index: 99999 !important;
}


.select2-dropdown {
    z-index: 99999;
}

.minimised .modal-dialog {
    margin: 0;

}

.minimised .modal-content {
    height: 60px;
    overflow: hidden;

}

.modal-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-header {
    padding-top: .70rem;
    padding-bottom: .70rem;
}

.modal-header button {
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 24px;
    opacity: 0.5;
    float: right;
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
}

.modal-header button .min-max:after {
    content: '\f2d1';
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
    font-style: normal;
    font-weight: 800;
}


.minimised .modal-header button .min-max:after {
    content: '\f2d0';
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro";
    font-style: normal;
    font-weight: 800;
}

.cal-margin {
    margin-left: -35px;
}

.multi-field .row {
    margin-left: 0;
    margin-right: 0;
}

.modal-header button:hover {
    opacity: .75;
}

.minimise-button {

}

.modal-content .form-group {
    margin-bottom: .5rem;
}

.modal-content .toggle-off.btn-sm {
    padding-left: 15px;
}

/* from https://github.com/ttskch/select2-bootstrap4-theme
modified heights from 0.75rem to 0.5rem
 */

.input-group-sm .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 2px;
    padding-bottom: 2px;
}

.input-group-sm .select2-container--bootstrap4 .select2-selection--single {
    height: 31px !important;
}

.input-group-sm .select2-container--bootstrap4 .select2-selection__clear {
    width: 0.9em;
    height: 0.9em;
    line-height: 0.75em;
    padding-left: 0.1em;
    margin-top: 0.4em;
    border-radius: 100%;
    background-color: #c8c8c8;
    color: #f8f9fa;
    float: right;
    margin-right: 0.3em;
}


.select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.5em + 0.5rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    color: #757575;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 3px;
    width: 20px;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    top: 60%;
    border-color: #343a40 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.select2-results__message {
    color: #6c757d;
}

.select2-container--bootstrap4 .select2-selection--multiple {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 8px;
    width: 100%;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered .select2-search__field {
    width: 100% !important;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    color: #343a40;
    border: 1px solid #bdc6d0;
    border-radius: 0.2rem;
    padding: 0;
    padding-right: 5px;
    cursor: pointer;
    float: left;
    margin-top: 0.3em;
    margin-right: 5px;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    color: #bdc6d0;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 1px;
    padding-right: 3px;
    padding-left: 3px;
    float: left;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #343a40;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear {
    float: none;
    margin-right: 0;
    position: absolute !important;
    top: 0;
    right: 0.7em;
}

.select2-container {
    display: block;
}

.select2-container *:focus {
    outline: 0;
}

.input-group .select2-container--bootstrap4 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.input-group-prepend ~ .select2-container--bootstrap4 .select2-selection {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--bootstrap4 .select2-selection {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    .select2-container--bootstrap4 .select2-selection {
        -webkit-transition: none;
        transition: none;
    }
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #80bdff;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select2-container--bootstrap4.select2-container--focus.select2-container--open .select2-selection {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection, .select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-selection {
    background-color: #e9ecef;
    cursor: not-allowed;
    border-color: #ced4da;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container--bootstrap4.select2-container--disabled .select2-search__field, .select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-search__field {
    background-color: transparent;
}

select.is-invalid ~ .select2-container--bootstrap4 .select2-selection,
form.was-validated select:invalid ~ .select2-container--bootstrap4 .select2-selection {
    border-color: #dc3545;
}

select.is-valid ~ .select2-container--bootstrap4 .select2-selection,
form.was-validated select:valid ~ .select2-container--bootstrap4 .select2-selection {
    border-color: #28a745;
}

.select2-container--bootstrap4 .select2-dropdown {
    border-color: #ced4da;
    border-radius: 0;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
    border-top: none;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
    border-top: 1px solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
    background-color: #e9ecef;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background-color: #007bff;
    color: #f8f9fa;
}

.select2-container--bootstrap4 .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--bootstrap4 .select2-results__option[role=group] .select2-results__options--nested .select2-results__option {
    padding-left: 1em;
}

.select2-container--bootstrap4 .select2-results > .select2-results__options {
    max-height: 15em;
    overflow-y: auto;
}

.select2-container--bootstrap4 .select2-results__group {
    padding: 6px;
    display: list-item;
    color: #6c757d;
}

.select2-container--bootstrap4 .select2-selection__clear {
    width: 0.9em;
    height: 0.9em;
    line-height: 0.75em;
    padding-left: 0.1em;
    margin-top: 0.6em;
    border-radius: 100%;
    background-color: #c8c8c8;
    color: #f8f9fa;
    float: right;
    margin-right: 0.3em;
}

.select2-container--bootstrap4 .select2-selection__clear:hover {
    background-color: #afafaf;
}
