<!doctype html>
{% load static modal_tags src_code%}

<html>
<head>

    {% highlighjs_includes %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <script src="{% static 'ajax_helpers/ajax_helpers.js' %}"></script>
    <script src="{% static 'django_modals/js/modals.js' %}"></script>
    <script src="{% static 'django_modals/js/widget_select2.js' %}"></script>
    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/rg-1.1.0/rr-1.2.4/datatables.min.css"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/rg-1.1.0/rr-1.2.4/datatables.min.js"></script>
    <script type="text/javascript" src="{% static 'django_datatables/js/filtered-datatable.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'django_datatables/css/datatables.css' %}"/>

    {% modal_imports 'select2' True %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" crossorigin="anonymous">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
   {% modal_imports 'toggle' %}

    <script src="https://cdn.tiny.cloud/1/9vnypfxb1qrjsjef93nn1460v0h2uez5qu0g8tup9e6n3brf/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'django_modals/css/modals.css' %}"/>

</head>
<body>


{% block body %}
    {% block table %}
    {% endblock %}

{% endblock %}

</body>
</html>