{% extends 'base.html' %}
{% load django_menu_tags ajax_helpers modal_tags datatable_tags %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark active-bar">
        {{ menus.main_menu.render }}
        <div class="text-light">
            {{ request.user }}
        </div>
    </nav>
    {% block contents %}
        <div class="row m-4">
            <div class="col-1">
            </div>
            <div class="col-5 border-1">
                <div id="modal-0">
                    <h4>{{ header_title }}</h4>
                    <div>
                        {{ form }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}


